<%= form_for @session, as: :session, url: signin_path, method: :post do |f| %>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-4">
      <h2><%= t(".title") %></h2>

      <hr />

      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :username, t(".user_or_email") %>
        <%= f.text_field :username, size: 40, maxlength: 200, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, t(".password") %>
        <%= f.password_field :password, size: 40, maxlength: 200, class: "form-control" %>
      </div>

      <%= f.submit t(".signin"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
