<h2>Log in</h2>

<%= form_for(@session, :as => :session, :url => login_path, :method => :post, :html => { :id => 'log-in-form'}) do |f| %>
  <dl>
    <dt><%= f.label :username, t('.user_or_email') %></dt>
    <dd><%= f.text_field :username, :size => 40, :maxlength => 200 %></dd>

    <dt><%= f.label :password, t('.password') %></dt>
    <dd class="last"><%= f.password_field :password, :size => 40, :maxlength => 200 %></dd>
  </dl>

  <p class="submit"><%= f.submit t('.login') %></p>
<% end %>